* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    height: 40px;
    background-color: #2F2F2F;
    color: white;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 1000;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

/* ----------------------Navbar-------------------------*/
.navbar {
    background-color: rgb(82, 82, 82);
    width: 260px;
    height: 100vh;
    position: fixed;
    top: 40px;
    left: 0;
    z-index: 999;
}

.navbar ul a {
    width: 258px;
    height: 100px;
    background-color: #2F2F2F;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    outline: none;
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
    border: 1px solid rgb(68, 68, 68);
}

.navbar ul a li {
    color: white;
}

.navbar ul a:hover {
    background-color: rgb(82, 82, 82);
}